/* Utility classes */
.nobr {
    white-space: nowrap;
}
@include media-breakpoint-up(lg) {
    .nobr-lg {
        white-space: nowrap;
    }
}
.no-padding {
    padding: 0 !important;
}
.wp-block-group.group-negative-mb,
.wp-block-group.alignfull.group-negative-mb {
    margin-bottom: -120px;
}

/* Typography and buttons */
@include media-breakpoint-up(lg) {
    body {
    --wp--preset--font-size--medium: calc(1em + 0.15vw);
    }
    .heading-xl {
        font-size: calc(2.5em + .5vw);
    }
}

.entry-content .wp-block-buttons {
    margin-bottom: 1em;
    gap: calc(.5em + .5vw);
}
.wp-block-button__link {
    background: $purple;
    &:hover {
        background: $purple-dk;
    }
}

.btn-primary,
.wp-block-button__link {
    clip-path: polygon(.8em 0,100% 0,100% calc(100% - .8em),calc(100% - .8em) 100%,0 100%,0 .8em);
}

.custom-logo-link {
    width: 250px;
    max-width: 70%;
}
.menu-item.btn-primary {
    .nav-link {
        color: $white;
        padding-right: 1.6rem;
        padding-left: 1.5rem;
    }
    @include media-breakpoint-up(lg) {
        margin-left: calc(1.2rem + .5vw);
    }
}

/* Announcement bar */
#arcaAnncBar {
	background-color: $purple;
	text-align: center;
	color: #fff;
	padding: 6px;
	font-size: 0.9em;
}
#arcaAnncBar a {
	color: #fff;
	text-decoration: underline;
	margin-left: 5px;
	white-space: nowrap;
}

/* Footer */
#wrapper-footer-full {
    background: linear-gradient($purple, $purple-dk);
    padding: 2.2rem 1rem;
    h3 {
        color: $white;
        font-size: 1.6rem;
        text-align: center;
        text-transform: uppercase;
    }
    p {
        font-size: 0.92em;
        // line-height: 1.3em;
    }
    a {
        color: $white;
    }
    .wp-block-button__link {
        background-color: rgba(255,255,255,0.85);
        color: $purple;
    }
}
@include media-breakpoint-only(md) {
    #footer-full-content {
        max-width: unset;
    }
}
.footer-widget .wp-block-social-links.is-style-logos-only .wp-block-social-link {
    color: $white;
}
.arca-footer-logo img {
    width: 250px;
}
#wrapper-footer {
    background-color: $purple-dk;
    color: $gray-lt;
    font-size: 1rem;
    text-align: center;
    a {
        color: $purple-lt;
    }
}
.arca-footer-copyright p:first-of-type {
    display: inline-block;
}
.arca-footer-copyright p:last-of-type {
    margin-bottom: 0;
}
#footer-full-content .footer-widget {
    position: relative;
    color: $white;
    margin-bottom: 2em;

    @include media-breakpoint-up(md) {
        &:not(:last-of-type):after { 
            content: "";
            border-right: 6px solid #a897c0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0.3;
        }
        &:first-of-type {
            padding-right: 2em;
        }
        &:last-of-type {
            padding-left: 2em;
        }
    }
    @media (min-width: 1000px) {
        &:not(:last-of-type):after {
            transform: rotate(20deg);
        }
    }
}
@include media-breakpoint-up(xl) {
    .footer-apply p {
        max-width: 280px;
        margin: 0 auto 1em;
    }
}

/* Home */
.arca-home-hero {
    min-height: 70vw;
    @include media-breakpoint-up(lg) {
        min-height: 450px;
        height: 48vw;
        max-height: 80vh;
    }
}
.arca-gem-row {
    position: relative;
    z-index: 1;
    background-color: $purple;
    padding: 1em;
    text-align: center;
    clip-path: polygon(3em 0%, calc(100% - 3em) 0%, 100% 30%, calc(100% - 7em) 100%, 7em 100%, 0% 30%, 0% 30%);
    color: $white;
    margin: calc(-6.5em - 1vw) auto 1em;
    max-width: calc(1000px + 1vw);

    h1, h2, h3, p {
        max-width: 66%;
        margin: 0 auto 0.5em;
        color: $white;
    }
    h1 {
        font-size: $font-size-base * 1.6;
    }
    h2 {
        font-size: calc(.8rem + .75vw);
        font-weight: 400;
    }
    @include media-breakpoint-up(md) {
        padding: 2em 3em;

        h1, h2, h3, p {
            max-width: 70%;
        }
        h1 {
            font-size: $font-size-base * 2.25;
        }
    }
}

/* Remove if not using home hero gem shape on mobile */
@media (max-width: 500px) {
    .arca-gem-row .h1,
    .arca-gem-row h1 {
        font-size: 1.5rem;
    }

    .arca-gem-row h2 {
        padding: 0 1em;
    }

    .arca-gem-row {
        margin: calc(-5.5em - 1vw) auto 1em;
        clip-path: polygon(3em 0%, calc(100% - 3em) 0%, 100% 30%, calc(100% - 6em) 100%, 6em 100%, 0% 30%, 0% 30%);
    }

    .arca-gem-row .nobr {
        white-space: normal;
    }
}

.arca-angles-left {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 67%, 0 33%);
}
.arca-angles-right {
    clip-path: polygon(0 0, 75% 0, 100% 33%, 100% 67%, 75% 100%, 0 100%);
}
.arca-cols-text-right {
    >.wp-block-column {
        position: relative;
        padding-right: 1rem;
    }
    >.wp-block-column:nth-of-type(2) {
        padding: 0 1rem;
    }
}
.arca-cols-text-left {
    flex-direction: column-reverse;

    >.wp-block-column {
        position: relative;
        padding-left: 1rem;
    }
    >.wp-block-column:first-of-type {
        padding: 0 1rem;
    }
}
@include media-breakpoint-up(md) {
    .arca-cols-text-right {
        >.wp-block-column,
        >.wp-block-column:nth-of-type(2) {
            padding-left: 0;
            padding-right: 5vw;

            .wp-block-image {
                max-height: 550px;
                display: flex;
                align-items: center;
            
                &.align-start {
                    align-items: start;
                }
            }
        }
    }
    .arca-cols-text-left {
        flex-direction: row;

        >.wp-block-column,
        >.wp-block-column:first-of-type {
            padding-left: 5vw;
            padding-right: 0;

            .wp-block-image {
                max-height: 550px;
                display: flex;
                align-items: center;
            
                &.align-start {
                    align-items: start;
                }
            }
        }
    }
}

/* Home subscribe section */
.home-subscribe {
    form {
        display: flex;
        justify-content: center;
    }
    .gform_wrapper.gravity-theme .gfield input {
        border: 0;
        border-radius: 4px;
    }
    @media (max-width: 599px) {
        .gf_simple_horizontal {
            flex-wrap: wrap;
        }
        .gform_wrapper .gf_simple_horizontal .gform_body .top_label .gfield {
            display: block;
            flex-shrink: 0;
            padding-right: 0;
        }
        .gform_wrapper .gf_simple_horizontal .gform_footer.top_label {
            max-width: 100%;
            margin-top: 1em;
        }
    }
}
.gform_button.button {
    background-color: transparent;
    color: $white;
    padding: 4px 15px;
    border-color: $white;
    border-radius: 6px;

    &:hover {
        background-color: $purple-dk;
        border-color: $purple;
    }
}

/* Home Animations */
#paperAirplane {
    width: 100vw;
    height: 100vw;
    margin-bottom: -100vw;
    position: absolute;
    top: -5.5em;
    margin-left: -1em;
    z-index: -1;
    @include media-breakpoint-up(md) {
        z-index: 0;
        width: 300px;
        height: 300px;
        position: relative;
        top: 0;
        margin-left: 0;
        margin-bottom: -300px;
        transform: translate(-300px,-80px);
    }
}

/* Single Pages */
.arca-page-header {
    overflow: hidden;

    .wp-block-cover {
        position: relative;
        min-height: calc( 400px + 5vw );
        clip-path: polygon( 0px 0px, calc(100% - (3rem + 2vw)) 0%, 100% 30%, calc(100% - (5rem + 3vw)) 100%, 0px 100% );

        &:before {
            content: '';
            position: absolute;
            background: $purple-lt;
            opacity: 0.6;
            transform: skew(-21deg);
            top: 0;
            bottom: 0;
            left: 75%;
            right: 15%;
            z-index: 1;
        }
        &:after {
            content: '';
            position: absolute;
            background: $purple;
            opacity: 0.6;
            transform: skew(-21deg);
            top: 0;
            bottom: 0;
            left: 85%;
            right: 0;
            z-index: 2;
        }
    }
    .wp-block-column:nth-of-type(2) {
        padding: 1em 8% 1em 3%;
    }
    h1 {
        font-size: calc(2em + 1vw);
    }

    .yoast-breadcrumbs {
        margin: -1em 0 1.5em 0;
        color: #687176;

        a {
            color: #687176;
        }
    }
}

.arca-page-header p,
.arca-cols-text-right p,
.arca-cols-text-left p {
    font-size: calc(1em + 0.15vw);
}

/* Extra block styles */
body.understrap-no-sidebar .wp-block-cover.alignfull.cover-max-width .wp-block-cover__inner-container {
    padding: 2%;
    ul {
        list-style-position: outside;
        padding-left: 0.8em;
    }
    @include media-breakpoint-up(md) {
        max-width: 800px;
    }
}

/* Team blocks */
.arcateam {
    padding: 1em;
    .card {
        height: 100%;
        box-shadow: 0 .4rem .7rem rgba($black, .12);
    }
    .card-subtitle, .card-text {
        font-size: 0.8em;
    }
}

/* Testimonials block */
.arcatestimonial .card {
    background-color: #f3f3f3;
    border-top: 6px solid $purple-lt;
    // clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 25% 100%, 0 75%);
    
    .card-text {
        font-size: 0.9em;
    }
    .quote-attribution {
        color: $purple;
    }
}
img.testimonial-headshot {
    width: 150px;
    max-height: 150px;
    border-radius: 50%;
    margin-bottom: 0.8em;
}

/* Apply CTA block */
.apply-cta {
    border-top: 4px solid $purple-lt;
}

/* FAQ block */
.schema-faq-section.card {
    background-color: #f3f3f3;
}

/* Courses Query Block */
.wp-block-query .type-arca_course.has-post-thumbnail {
    .wp-block-post-featured-image img {
        clip-path: polygon(0 0, 75% 0, 100% 33%, 100% 67%, 75% 100%, 0 100%);
    }
    .wp-block-post-title {
        margin: .4em 0;
    }
}
@include media-breakpoint-up(md) {
    .wp-block-query .type-arca_course.has-post-thumbnail {
        display: grid;
        grid-template-columns: [image] 1fr [text] 2fr;
        grid-template-rows: min-content 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        border-radius: 0.25em;
        padding-right: 1em;
        background: #f3f3f3;

        .wp-block-post-featured-image {
            grid-row: 1 / span 2;
            margin-bottom: 0;

            img {
                border-radius: 0.25em;
            }
        }
    }
}

/* Inner container block and logo crawl block */
.innercontainer {
    padding: 0 1em;
}
@include media-breakpoint-up(lg) {
    .logo-crawl-group .innercontainer {
        padding: 0;
    }
}

/* Gem icon bulleted lists */
ul.arca-gem-list,
ol.arca-gem-list {
    list-style-type: none;
    padding: 0;

    li {
        background-image: url("../assets/ArCA-gem-icon.svg");
        background-size: 35px 33px;
        min-height: 45px;
        background-repeat: no-repeat;
        background-position: 1px 0;
        padding-left: 50px;
        padding-bottom: 1.2em;
    }
}

/* Home courses */
.home-courses-group {
    background-image: url("../assets/ArCA-gem-icon.svg");
    background-size: 45px 42px;
    min-height: 55px;
    background-repeat: no-repeat;
    background-position: 1px 0;
    padding-left: 60px;

    h3 {
        margin-bottom: 0.2em;
    }
    p {
        font-size: 0.95em;
    }

    @include media-breakpoint-up(lg) {
        max-width: 600px;
    }
}

/* Events (most of the event styles are in the events template) */
.wfea-cal .not-found {
    text-align: center;
}
