// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

// UCA Brand Colors
$purple: #4F2D7F;
$purple-lt: #a897c0;
$purple-dk: #3B245E;
$gray: #818A8F;
$gray-lt: #c0c5c7;
$gray-dk: #555555;
$green: #9cc760;
$blue: #5197be;
$teal: #0d746e;
$text: #222222;
$red: #dc3545;
$black: #000000;
$white: #ffffff;
$gold: #EDB72C;
$light: #efefef;
$dark: #222222;

$primary: $purple;
$secondary: $gray;
$success: $green;
$info: $blue;
$warning: $gold;
$danger: $red;

// Color names map - changes block editor color picker if you also edit /src/build/postcss.config.js
$colors: (
  "purple": $purple,
  "gray": $gray,
  "purple-dark": $purple-dk,
  "purple-light": $purple-lt,
  "gray-dark": $gray-dk,
  "gray-light": $gray-lt,
  "text": $text,
  "black": $black,
  "white": $white,
  "green": $green,
  "blue": $blue,
  "teal": $teal,
  "gold": $gold,
  "red": $red
);

// Theme colors map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// Navbar
$navbar-light-color: $primary;
$navbar-nav-link-padding-x: calc(.65rem + .5vw);

// Typography
$font-family-sans-serif: "Source Sans Pro", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.125rem;
$headings-margin-bottom: calc(1rem + .5vw);
$headings-color: $purple;
$paragraph-margin-bottom: 1.4rem;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.65;
$h4-font-size: $font-size-base * 1.35;
$h5-font-size: $font-size-base * 1.1;
$h6-font-size: $font-size-base;

// Buttons
$btn-border-radius: 0;
$input-btn-padding-y: .5rem;
$input-btn-padding-x: 1rem;